@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&display=swap');

body {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

#layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main {
    flex: 1;
    padding: 2rem;
}

.header {
    margin-bottom: 1.5rem;
}

    .header h1 {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
        color: #3d3d3d;
    }

    .header h2 {
        font-size: 1.2rem;
        color: #999;
    }

.navbar {
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #3f3f3f;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.nav-link {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}

    .nav-link:hover {
        color: #d9d9d9;
    }

.content {
    max-width: 1200px;
    margin: 0 auto;
}

.pb-3 {
    padding-bottom: 1rem;
}

.card-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.card {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

    .card:hover {
        transform: translateY(-5px);
    }

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-body {
    padding: 1.5rem;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #3d3d3d;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 1rem;
    color: #777;
}
.new-releases {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .new-releases img {
        width: 500px;
        height: 500px;
    }
.spotify-btn {
    width: 50px;
    height: 50px;
}

 

.new-releases-title {
    font-family: 'Arial', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.album-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.album-info {
    width: 50%;
    text-align: center;
}

    .album-info h3 {
        font-size: 1.5rem;
        margin-bottom: 5px;
    }

    .album-info p {
        font-size: 1.25rem;
        margin-bottom: 5px;
    }

.album-cover {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.album-table {
    margin-top: 1rem;
}

    .album-table th, .album-table td {
        vertical-align: middle;
    }

.btn-group {
    margin-top: 0.5rem;
}
.logo {
    font-family: 'Alkatra', sans-serif;
}
.album-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spotify-button img {
    width: 100px; /* Mo¿esz zmieniæ na inn¹ wartoœæ, aby uzyskaæ po¿¹dany rozmiar */
    height: 100px; /* Mo¿esz zmieniæ na inn¹ wartoœæ, aby uzyskaæ po¿¹dany rozmiar */
}
.navbar-right {
    margin-left: auto;
}

.nav-link-accent {
    font-weight: bold;
    color: #ff6347;
}
.album-table th {
    cursor: pointer;
}

.album-cover {
    height: 80px;
    margin-right: 10px;
    width: 80px;
}

.table-actions {
    display: flex;
    flex-direction: row;
}

    .table-actions button {
        margin-right: 5px;
    }