@page
@model Spoti.Pages.LoginModel

<div class="text-center">
    <h1 class="display-4">Witaj na Spoti!</h1>
    <p>Proszę zalogować się na swoje konto Spotify:</p>
    <a class="btn btn-primary" asp-page-handler="Login">Zaloguj się do Spotify</a>
</div>
