@page
@model Spoti.Pages.LoginModel

<div class="text-center">
    <h1 class="display-4">Welcome to Spoti</h1>
    <p>Please log in with your Spotify account:</p>
    <a class="btn btn-primary" asp-page-handler="Login">Login with Spotify</a>
</div>
